# ******************************************************************
# Merge "releases/**" PR to kick off the release to NPM registry.
# ******************************************************************

name: Auto publish to npm registry once release PR is merged

on:
  pull_request:
    branches:
      - main
  
env: 
  ACTION_URL: "https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"
    
jobs:
  createRelease:
    permissions:
      id-token: write  # Required for OIDC
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'

      - run: npm install -g npm@latest

      - run: npm ci

      - run: npm publish --provenance --access public

      - name: Upload npm publish logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: npm-publish-logs
          path: /home/runner/.npm/_logs/

      - name: Retrieve package version
        run: |
          PACKAGE_VERSION=$(node -p "require('./package.json').version")
          echo "PACKAGE_VERSION=v${PACKAGE_VERSION}" >> $GITHUB_ENV

      - name: Create release
        run: |
          gh release create ${{ env.PACKAGE_VERSION }} --generate-notes --latest --title "${{ env.PACKAGE_VERSION }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Update new commit to have "Latest" Tag
        run: |
          git config --global user.email developer@neuro-id.com
          git config --global user.name neuroid-developer
          set +e
          git push origin :latest
          git tag -d latest
          git tag latest
          git push origin latest
          set -e

      - name: Send Release Succeeded Result to NID Mobile Infra Repo
        if: success()
        run: |
          curl \
            -X POST \
            -H "Accept: application/vnd.github.v3+json" \
            -H "Authorization: token ${{ secrets.GPR_API_KEY }}" \
            https://api.github.com/repos/Neuro-ID/neuroid-mobile-infra/dispatches \
            -d '{"event_type":"release","client_payload":{"status":"success", "service": "reactnative", "version": "${{ env.PACKAGE_VERSION }}", "action_url": "${{ env.ACTION_URL }}"}}'

  resetAndroidVersion:
    name: Default to main snapshot
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    needs: createRelease
    steps:
      - name: Main branch checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Reset android version to main snapshot
        run: |
          sed -i "s/:react-android-sdk:[0-9a-zA-Z.-]*/:react-android-sdk:main-SNAPSHOT/g" android/build.gradle
          sed -i "s/:react-android-sdk-debug:[0-9a-zA-Z.-]*/:react-android-sdk-debug:main-SNAPSHOT/g" android/build.gradle
          git config --global user.email developer@neuro-id.com
          git config --global user.name neuroid-developer   
          git checkout -b 'post-release-reset'
          git status
          set +e
          git add android/build.gradle
          git commit -m "Reset android version to main-SNAPSHOT"
          git push --set-upstream origin 'post-release-reset'
          set -e

      - name: Create Pull Request
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const title = "Post-release/Reset android version to main-SNAPSHOT";
            const body = "Merge post release. Resets android version to main-SNAPSHOT";
            const headBranch = 'post-release-reset';
            const baseBranch = 'main';
            
            const createPullRequest = async () => {
              const response = await github.rest.pulls.create({
                owner: context.repo.owner,
                repo: context.repo.repo,
                title: title,
                body: body,
                head: headBranch,
                base: baseBranch
              });
              console.log(`Pull request created`);
            };

            createPullRequest();