name: RN Smoke Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency: 
  group: rn-smoke-tests-${{ github.ref }}
  cancel-in-progress: true

env:
  SDK_PATH: ${{ github.workspace }}
  APPS_PATH: ${{ github.workspace }}/.tmp

jobs:
  ios:
    name: iOS (RN ${{ matrix.RN_VERSION }})
    runs-on: macos-15
    strategy:
      fail-fast: false
      matrix:
        # RN_VERSION: ['0.73', '0.74', '0.75', '0.76', '0.77', '0.78', '0.79', '0.80', '0.81', '0.82', '0.83']
        RN_VERSION: ['0.73', '0.74', '0.75']
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org'

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin

      - name: Define App Paths
        id: paths
        run: |
          SAFE_MINOR="${{ matrix.RN_VERSION }}//./_" # 0.80 -> 0_80
          APP_NAME="SmokeApp_$SAFE_MINOR"

          APP_DIR="${{ env.APPS_PATH }}/${APP_NAME}"

          echo "APP_NAME=$APP_NAME" >> $GITHUB_ENV
          echo "APP_DIR=$APP_DIR" >> $GITHUB_ENV

      - name: Create React Native App
        run: |
          set -euo pipefail
          mkdir -p "${{ env.APPS_PATH }}"
          rm -rf "${{ env.APP_DIR }}"
          cd "${{ env.APPS_PATH }}"

          npx @react-native-community/cli@latest init "${{ env.APP_NAME }}" \
          --version "${{ matrix.RN_VERSION }}" \
          --skip-install

      - name: Install JS Dependencies
        working-directory: ${{ env.APP_DIR }}
        run: yarn install

      - name: Install NeuroID SDK
        working-directory: ${{ env.APP_DIR }}
        run: yarn add "file:${{ env.SDK_PATH }}"

      - name: Install iOS Dependencies
        working-directory: ${{ env.APP_DIR }}/ios
        run: pod install --repo-update
